# SPDX-License-Identifier: CC0-1.0
# Ignore everything by default
/*
*.gpg
R/rsconnect

# Track these dirs/files:
!/firefox
!.gitignore
!/git
!/i3
!/i3status
!/LICENSES
!/link_configs.sh
!/pandoc
!/R
!/mimeapps.list
!/nvim/init.vim
!/playlist.m3u
!/profile
!/scripts
!/shellrc
!/xorg/xinitrc
!/wallpapers/WALLPAPERS_GO_HERE
