# SPDX-License-Identifier: CC0-1.0
# Ignore everything by default
/*
*.gpg

# Track these dirs/files:
!/firefox
!.gitignore
!/git
!/i3
!/i3status
!/LICENSES
!/pandoc
!/R
!/mimeapps.list
!/playlist.m3u
!/shellrc
!/wallpapers/WALLPAPERS_GO_HERE
